@font-face {
  font-family: gobold;
  src: url("fonts/Gobold.otf");
}

@font-face {
  font-family: Great Vibes;
  src: url("fonts/Great-Vibes.ttf");
}

@font-face {
  font-family: vidaloka;
  src: url("fonts/Vidaloka.ttf");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.menu-section-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 3vw;
  background: url("/styles/images/background-texture.png");
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
  padding: 0 1vw;
}

.logo-container {
  width: 30vw;
  height: 7vh;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.burger-menu {
  z-index: 3;
  width: 50px;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.line {
  z-index: 3;
  width: 100%;
  height: 3px;
  background-color: rgba(105, 55, 19, 0.836);
}

.navigation-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 100vw;
  z-index: 2;
  position: fixed;
  background-color: #c4602a;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.hide-scrolling {
  overflow: hidden;
  height: 100vw;
  position: fixed;
}

.navigation-bar-items {
  list-style: none;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5em;
  font-family: 'gobold';
  color: white;
}

.division-line {
  width: 80vw;
}

.title {
  font-family: 'gobold';
  font-size: 2em;
  text-align: center;
  color: rgba(39, 24, 13, 0.836);
}

.menu-container {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3vh;
}

.menu-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/styles/images/background-texture.png");
}

.landing-social-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.landing-social-list li {
  padding: 0 2vw;
}

.facebook-svg {
  width: 3vw;
}

.instagram-svg {
  width: 6vw;
}

.twitter-svg {
  width: 6vw;
}

.subscribe-input {
  width: 60vw;
  margin: 2vh 0;
  text-align: center;
}

.subscribe-button {
  padding: 1vh 2vw;
  background-color: rgba(255, 255, 255, 0.5);
  color: #31210e;
  text-transform: uppercase;
  border-radius: 2px;
}

.reserved {
  font-family: 'vidaloka';
  font-size: 1em;
  color: rgba(39, 24, 13, 0.836);
  text-align: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

.desktop-navigation-container {
  display: none;
}

@media all and (min-width: 1025px) {
  body {
    padding: 0 0;
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 10vh;
  }
  .logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 20em;
    height: 6em;
  }
  .logo-container img {
    width: 100%;
    height: 100%;
  }
  .burger-menu {
    display: none;
  }
  .desktop-navigation-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 2;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .desktop-navigation-bar-items {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    position: relative;
    list-style: none;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2em;
    font-family: 'gobold';
    color: rgba(39, 24, 13, 0.836);
    padding-bottom: 0;
  }
  .desktop-navigation-bar-items li {
    padding: 0 1.5vw;
    color: #935C3E;
    white-space: nowrap;
  }
  .desktop-navigation-bar-items li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .desktop-navigation-bar-items li:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
  .title {
    text-align: center;
    font-size: 3em;
  }
  .menu-container {
    width: 50vw;
  }
  .facebook-svg {
    width: 1vw;
  }
  .instagram-svg, .twitter-svg {
    width: 2vw;
  }
  .subscribe-input {
    width: 15vw;
  }
  a:link, a:visited {
    text-decoration: none;
  }
}
/*# sourceMappingURL=menu-styles.css.map */