@font-face {
    font-family: gobold;
    src: url('fonts/Gobold.otf');
}
@font-face {
    font-family: Great Vibes;
    src: url('fonts/Great-Vibes.ttf');
}
@font-face {
    font-family: vidaloka;
    src: url('fonts/Vidaloka.ttf');
}

html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 2vh 3vw;
    overflow-x: hidden;
    background: url('/styles/images/background-texture.png');
}
// FIRST SECTION-----------------------------------------------------------
.first-section{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    padding: 0 1vw;
}
.logo-container{
    width: 30vw;
    height: 7vh;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.burger-menu{
    z-index: 3;
    width: 12vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.line{
    z-index: 3;
    width: 100%;
    height: 3px;
    background-color: rgba(105, 55, 19, 0.836);
}
.navigation-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 100vw;
    z-index: 2;
    position: fixed;
    background-color:#c4602a;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}
.hide-scrolling{
    overflow:hidden;
    height: 100vw;
    position: fixed;
}
.navigation-bar-items{
    list-style: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    font-size: 2.5em;
    font-family: 'gobold';
    color: white;
}
.landing-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 35vh;
    margin-bottom: 2vh;
}
.landing-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.division-line{
    width: 80vw;
}
.landing-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
    height: 42vh;
}
.first-description, .second-description{
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 2em;
    width: 80vw;
    margin: 0;
}
.landing-social-list{
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.landing-social-list li{
    padding:0 2vw;
}
.facebook-svg{
    width: 3vw;
}
.instagram-svg{
    width: 6vw;
}
.twitter-svg{
    width: 6vw;
}
.bottom-tab-container{
    display: none;
}

// SECOND SECTION ----------------------------------------------------------------------
.second-section{
    box-sizing: border-box;
    width: 100%;
}
.second-section-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: 'gobold';
    font-size: 2em;
    text-align: center;
    color:rgba(39, 24, 13, 0.836);
}
.menu-message{
    margin-top: 0;
    width: 75vw;
    font-family: 'vidaloka';
    font-size: 1.5em;
    text-align: center;
}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.menu-1-container, .menu-2-container{
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
}
.menu-1-container img, .menu-2-container img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.menu-title{
    position: relative;
    top: -65%;
    font-family: 'vidaloka';
    font-size: 2em;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding: 2vw;
}

// THIRD SECTION
.third-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catering-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
}
.catering-image-container img{
    width: 100%;
    height: 50vh;
    border-radius: 5px;
}
.catering-message{
    position: absolute;
    margin-top: 30%;
    font-family: 'vidaloka';
    font-size: 1.5em;
    color: white;
    text-align: center;
    width: 70vw;
    background-color: rgba(0,0,0,0.7);
    padding: 2vh 5vw;
    border-radius: 5px;
}

// FOURTH SECTION
.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.fourth-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.reservations-message{
    padding: 0 8vw;
    font-family: 'vidaloka';
    font-size: 1.5em;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    border-radius: 3px;
    height: 3vh;
}
input::placeholder{
    text-align: center;
}
.input-name{
    width: 60vw;
    margin-bottom: 1vh;
}
.input-date{
    margin-right: 5vw;
    height: 4vh;
    margin-bottom: 1vh;
}
select{
    width: 20vw;
    height: 4vh;
}
.input-phone{
    width: 27vw;
    margin-right: 5vw;
}
.input-guests{
    width: 27vw;
}
.input-phone, .input-guests{
    margin-bottom: 2vh;
}
.reservation-button{
    padding: 1vh 2vw;
    background-color: rgba(255,255,255, 0.5);
    text-transform: uppercase;
    color:#31210e;
    border-radius: 2px;
    margin-bottom: 5vh;
}

// FIFTH SECTION
.fifth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.gift-card-container{
    width: 100%;
    height: 30vh;
}
.gift-card-container img{
    width: 100%;
    height: 100%;
}
.gift-card-button{
    padding: 1vh 2vw;
    background-color: rgba(255,255,255,0.5);
    color: #31210e;
    text-transform: uppercase;
    border-radius: 2px;
}
.gift-card-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
    border: solid rgb(71, 41, 13) 1px;
    margin: 2vh 0;
    padding: 1vh 4vw;
    border-radius: 5px;
    margin-bottom: 5vh;
}
.gift-card-button-small{
    width: 20vw;
    height: 5vh;
    font-size: 60%;
    padding: 0;
}

// SIXTH SECTION
.info-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.info-hours-container, .location-container, .contact-container{
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    border:rgba(39, 24, 13, 0.836) solid 1px;
    border-radius: 5px;
    background: url(images/info-background.png) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 10vw;
    margin: 2vh 0;
}
.contact-container, .location-container, .info-hours-container{
    height: 100%;
}
.hours-container{
    margin: 2vh 0;
}
.hours, .hours-message{
    margin: 1vh 0;
    font-family: 'vidaloka';
    font-size: 1.3em;
    color: rgba(39, 24, 13, 0.836);;
    text-align: center;
}
.hours-message{
    margin: 2vh 0;
}
.location-message{
    font-family: 'vidaloka';
    font-size: 1.2em;
    color: rgba(39, 24, 13, 0.836);;
    text-align: center;
    margin: 0;
}
.location-image-container{
    margin-top: 2vh;
    width: 60vw;
    height: 20vh;
    border:rgba(39, 24, 13, 0.836) solid 1px;
    border-radius: 5px;
}
.location-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.contact-message-container{
    font-family: 'vidaloka';
    font-size: 1.2em;
    color: rgba(39, 24, 13, 0.836);;
    text-align: center;
    height: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe-input{
    width: 60vw;
    margin:2vh 0;

}
.subscribe-button{
    padding: 1vh 2vw;
    background-color: rgba(255,255,255,0.5);
    color: #31210e;
    text-transform: uppercase;
    border-radius: 2px;
}
.reserved{
    font-family: 'vidaloka';
    font-size: 1em;
    color: rgba(39, 24, 13, 0.836);;
    text-align: center;
}


// MEDIA QUERY FOR DESKTOPS
@media all and (min-width: 1025px){

// FIRST SECTION------------------------------------------------------------------------
.first-section{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.landing{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr;
}
.header{
    grid-column: 1/4;
    background-color: burlywood;
    display: inline-flex;
}
.logo-container{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 15vw;
    height: 10vh;
    background-color: cornflowerblue;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.navigation-bar{
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: flex-end;
}
.navigation-bar-items{
    display: inline-flex;
    list-style: none;
}
.landing-image-container{
    grid-column: 1/3;
    grid-row: 2/3;
}
.landing-image-container img{
    width: 100%;
    height: 100%;
}
.landing-description-container{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.first-description{
    text-align: center;
}
.landing-social-list{
    list-style: none;
    
}
.landing-social-list li{
    display: inline-flex;
    justify-content: space-around;
}
.bottom-tab-container{
    grid-column: 1/4;
}

}